---
import { Markup } from "astro-remote";
import "./styles.css";

import Icon from "./svg/Icon.astro";

interface Props {
  url: String;
}
const url = new URL(Astro.props.url);

const instance = url.hostname;
const splitPathname = url.pathname.split("/");
const tootId = splitPathname[splitPathname.length - 1];

const res = await fetch(`https://${instance}/api/v1/statuses/${tootId}`);
const toot = await res.json();
---

<div class="container">
  <div class="content">
    <a href={toot.account.url} target="_blank" class="avatar">
      <img
        src={toot.account.avatar}
        alt={`${toot.account.username}'s avatar`}
      />
      {`@${toot.account.username}`}
    </a>
    <div class="post-body">
      <Markup content={toot.content} />
    </div>
    {
      toot.media_attachments.length === 0 ? null : (
        <div class="post-img">
          <img
            src={toot.media_attachments[0].url}
            alt={toot.media_attachments[0].description}
          />
        </div>
      )
    }
  </div>
  <div class="footer">
    <div class="toot-stats">
      <span><Icon icon="reply-fill" />{toot.replies_count}</span>
      <span><Icon icon="repeat" /> {toot.reblogs_count}</span>
      <span><Icon icon="star-fill" />{toot.favourites_count}</span>
    </div>
    <a href={toot.url} target="_blank">View Original Post</a>
  </div>
</div>
